
/* .logoContainer {
    display: flex;
   background-color: black;
    justify-content: center;
    width: 100%;
} */

/* .logoContainer img {
    width: 85%;
    object-fit: contain;
} */

/* body{
    margin: 0;
}


/* Tablet*/
/* @media screen and (min-width: 768px) {
    .logo {
      max-height: 400px; 
    }
  } */
/*Escritorio*/
  /* @media screen and (min-width: 1044px) {
    .logo {
      max-height: 400px; 
      width: 95%;
      height: 60%;
    }
     
    } */ 
    